<div class="header">
  <img src="../../../assets/img/logo blanco.png" alt="Logo">
</div>
<div class="menu-container">
  <a routerLink="/loginAtm" class="menu-item">
    <img src="../../../assets/img/opciones/cajero-automatico.png" alt="Icono Cajero">
    <span>Cajero Automático</span>
  </a>
  <a routerLink="loginBackOffice" class="menu-item">
    <img src="../../../assets/img/opciones/back-office.png" alt="Icono Banco">
    <span>Back Office</span>
  </a>
  <a routerLink="/loginVentanilla" class="menu-item">
    <img src="../../../assets/img/opciones/atencion-al-cliente.png" alt="Icono Ventanilla">
    <span>Ventanilla</span>
  </a>
  <a routerLink="/loginBW" class="menu-item">
    <img src="../../../assets/img/opciones/banca-por-internet.png" alt="Icono Banca Web">
    <span>Banca Web</span>
  </a>
</div>
<footer>
  © 2023 BancoBanquito. Todos los derechos reservados.
</footer>