<div class="primer-grid">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/img/logo sin letras.png" alt="Usuario">
        </div>
        <div class="nombre">
            <p>Banco BanQuito</p>
        </div>
        <div class="usuario-info">
            <p>Nombre de Usuario </p>
            <img src="../../../assets/img/Img persona.png" alt="Usuario">
        </div>
    </div>
    <div class="segundo-grid">
        <div class="columna-celeste">
            <div class="espaciado"></div>
            <div class="productos" routerLink="/productos">
                <p>Productos</p>
            </div>
            <div class="espaciado"></div>
            <div class="consultas" routerLink="/creditos">
                <p>Consultas</p>
            </div>
            <div class="espaciado"></div>
            <div class="transferencias" routerLink="/creditos">
                <p>Transferencias</p>
            </div>
            <div class="espaciado"></div>
            <div class="mi perfil" routerLink="/creditos">
                <p>Mi perfil</p>
            </div>
            <div class="salir" routerLink="/loginBW">
                <img src="../../assets/img/bw/salir.png" alt="Sin Tarjeta">
                <p >Salir</p>
            </div>
        </div>
        <div class="columna-gris">
            <div class="buttons-container">
                <h3>¿Cuánto dinero necesitas?</h3>
              </div>
              <p class="p-class">Datos Personales</p>
              <table class="tabla">
                  <tbody>
                    <tr>
                      <td>Ingresa el valor seleccionado:</td>
                      <td><input></td>
                    </tr>
                    <tr>
                      <td>Selecciona las cuotas a tu medida:</td>
                      <td><select>
                        <option value="opcion1">12 meses</option>
                        <option value="opcion2">24 meses</option>
                        <option value="opcion3">36 meses</option>
                        <option value="opcion3">48 meses</option>
                      </select></td>
                    </tr>
                    <tr>
                        <td>Sistema de amortización:</td>
                        <td><select>
                            <option value="opcion1">Alemana</option>
                            <option value="opcion2">Francesa</option>
                            </select></td>
                      </tr>
                      <tr>
                        <td>Tasa anual referencial:</td>
                        <td><input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><input type="date"></td>
                      </tr>
                  </tbody>
              </table>
              <div class="button-container">
                <div class="button-1" routerLink="/dinero">Continuar</div>
                <div class="button-2" routerLink="/informacionCredito">Regresar</div>
            </div>
        </div>
        
    </div>


</div>
<footer>
    © 2023 BancoBanquito. Todos los derechos reservados.
</footer>