<body>
	<div class="logo-container">
		<img src="../../../assets/img/logo.png" alt="Logo">
	</div>
	<div class="login-container">
		<img class="bank-image" src="../../../assets/img/Imagen Login.png" alt="Banco">
		<div class="espacio"></div>
		<div class="form-container">
			<div class="title">Banca Web</div>
			<p>Ingrese su usuario y contraseña</p>
			<p></p>
			<form>
				<label for="usuario">Usuario:</label>
				<p></p>
				<input type="text" placeholder="Usuario">
				<label for="contrasena">Contraseña:</label>
				<p></p>
				<input type="password" placeholder="Contraseña">
				<button type="button" class="login-button" routerLink="/productos">Ingresar</button>
			</form>
			<div class="register-link">
				¿No tienes cuenta? <a routerLink="/registrarse">Regístrate</a>
			</div>
			<p></p>
		</div>
	</div>
	<footer>
		© 2023 BancoBanquito. Todos los derechos reservados.
	</footer>
</body>
